spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/rest_with_spring_boot_erudio?useTimezone=true&serverTimezone=UTC
    username: root
    password: Root1234#
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
  flyway:
    baseline-on-migrate: true
    locations: classpath:db/migration